[user]
	email = oscar.baracos@gmail.com
	name = Oscar Baracos
[push]
	default = simple
[alias]
	st = status
	cm = commit -m
	psup = push --set-upstream origin
	cb = checkout -b
	pom = push origin master
	co = checkout
	lg = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pr = pull --rebase
	uv = add -uv
[color]
	ui = auto
[credential]
	helper = store
[core]
	autocrlf = input
